    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/font-awesome-4.0.3/css/font-awesome.min.css">

    <!-- JS library includes -->
    <script src="/static/lib/jquery.min.js"></script>
    <script src="/static/lib/angular/angular.min.js"></script>
    <script src="/static/lib/angular/angular-resource.min.js"></script>
    <script src="/static/lib/angular/angular-sanitize.min.js"></script>
    <script src="/static/lib/marked.js"></script>
    <script src="/static/lib/intercom.js"></script>
    <script src="/static/lib/sprintf.js"></script>
    <!-- <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=configured"></script> -->

    <!-- JS application common includes -->
    <script src="/static/js/ng-directives.js"></script>

    <!-- Initialization -->
    <script>
    function MarkedInit() {
        marked.setOptions({gfm: 1});
    }
    function MathJaxInit() {
        MathJax.Hub.Config({
            elements: [],
            skipStartupTypeset: false, // much faster for some reason...
            showMathMenu: false,
            zoom: "None",
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: true,
            },
            "HTML-CSS": { availableFonts: ["TeX"] }
        });
        MathJax.Hub.Startup.onload();
    }
    MarkedInit();
    </script>