<div class="span-controls tools">
    <span ng-click="Edit(span)"><i class="fa fa-pencil"></i></span>
    <span ng-click="SpanDelete(span)" class="span-delete"><i class="fa fa-times"></i></span>
    <span ng-click="SpanGrow(span,1)"><i class="fa fa-plus-circle"></i></span>
    <span ng-click="SpanGrow(span,-1)"><i class="fa fa-minus-circle"></i></span>
    <span ng-click="SpanMoveBefore(span)"><i class="fa fa-chevron-left"></i></span>
    <span ng-click="SpanMoveAfter(span)"><i class="fa fa-chevron-right"></i></span>
</div>