<div class="ng-template lego">
    <div class="container">
        <div ng-repeat="row in content.rows" class="row">
            <div ng-repeat="span in row.spans" class="span col-md-{{span.span}}">
                <div class="span-container" ng-class="{'with-label': span.label}">
                    <div ng-if="span.label" class="span-label">{{span.label}}</div>
                    <md markdown="{{span.markdown}}" ng-click="ding()"></md>
                    <div class="tools">
                        <span ng-click="Edit(span)">E</span>
                        <span ng-click="SpanInsertBefore(span)">&lt;+</span>
                        <span ng-click="SpanInsertAfter(span)">&gt;+</span>
                        <span ng-click="SpanDelete(span)">D</span>
                        <span ng-click="SpanMoveBefore(span)">&lt;M</span>
                        <span ng-click="SpanMoveAfter(span)">&gt;M</span>
                    </div>
                </div>
                <div class="span-editor" ng-show="span._editing">
                    <textarea ng-model="span.markdown" class="span-textarea" ng-keyup="KeyPress($event, span)"></textarea>
                </div>
            </div>
        </div>
    </div>
    <style>
    .ng-template.lego {
        padding-top: 20px;
    }
    .ng-template.lego .span-container {
        position: relative;
        min-height: 100px;
    }
    .ng-template.lego .span-container .tools {
        display: none;
        height: 20px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #555;
        color: #ccc;
        padding-left: 5px;
        padding-right: 5px;
        text-align: right;
        -webkit-user-select: none;
    }
    .ng-template.lego .span-container:hover .tools {
        display: block;
    }
    .ng-template.lego .tools span {
        cursor: pointer;
        margin-right: 5px;
    }
    .ng-template.lego .tools span:hover {
        color: #fff;
    }
    /* ======== label ============= */
    .ng-template.lego .with-label {
        margin-top: 30px;
    }
    .ng-template.lego .with-label .span-label {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        background: #f00;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        line-height: 20px;
        padding: 5px 15px;
        height: 30px;
        top: -30px;
        border-top-left-radius: 10px;
        border-top-right-radius: 20px;
    }
    /* ======== textarea ============ */
    .ng-template.lego .span-editor {
        position: fixed;
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
        border-top: 3px solid #888;
    }
    .ng-template.lego .span-editor textarea {
        width: 100%;
        height: 100%;
        border: none;
        font-family: "Courier New", "Consolas", "monospace";
        font-weight: bold;
    }
    </style>
</div>