<div class="row-controls tools">
    <span ng-click="RowDelete(row)" class="span-delete"><i class="fa fa-times"></i></span>
    <span ng-click="RowAppend(row)"><i class="fa fa-plus"></i></span>
    <span>|</span>
    <span ng-click="RowMoveBefore(row)"><i class="fa fa-chevron-up"></i></span>
    <span ng-click="RowMoveAfter(row)"><i class="fa fa-chevron-down"></i></span>
    <span>|</span>
    <span ng-click="RowInsertBefore(row)"><i class="fa fa-level-up"></i></span>
    <span ng-click="RowInsertAfter(row)"><i class="fa fa-level-down"></i></span>
</div>